XML/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="SerializationData">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Nodes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="Node">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ScreenPosition">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="x" type="xsd:int" />
                          <xsd:element name="y" type="xsd:int" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="RealPosition">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="x" type="xsd:decimal" />
                          <xsd:element name="y" type="xsd:decimal" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Type" type="xsd:string" />
                    <xsd:element name="Fine" type="xsd:int" />
                    <xsd:element name="Volume" type="xsd:int" />
                    <xsd:element name="Id" type="xsd:int" />
                    <xsd:element name="Name" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>